---
---

@import
#quarters {clear:both; margin:0 0 20px 0;}
#quarters h2 {font-size:1.4em; color:#5c5a5a; margin:0 0 10px 0;}
#quarters p {font-size:0.9em; color:#666; margin:0 0 15px 0;}
.q1,.q2,.q3,.q4 {width:22%; margin:0 3% 20px 0; float:left;}
.q4 {margin:0;}
;
