<!DOCTYPE html>

<html>
  
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" >
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

  {% include head.html %}

  <body>

    {% include navbar.html %}
    
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10 mx-auto">
      <div class="col-lg-8 box">

      {{ content }}
      </div>
      
      <div id="sidebar" class="col-lg-4 box">
        <div class="d-md-none"><hr></div>
            {% include upcoming.md %}
            <a class="btn btn-primary float-right" href="https://models-and-measures.github.io/events"><span class="d-none d-md-inline">More</span> &rarr;</a>
            
      </div>
      <div id="sidebar" class="col-lg-4 box">
            <br>
            <hr>
            {% include gdt_statnum.md %}
            <a class="btn btn-primary float-right" href="https://www.ceremade.dauphine.fr/dokuwiki/statnum:start"><span class="d-none d-md-inline">More</span> &rarr;</a>
            
      </div>
      <div id="sidebar" class="col-lg-4 box">
            <br>
            <hr>
            {% include scientific_board.md %}
      </div>
    </div>
  </div>
</div>
    
    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
